.table {
  width: 100%;
  border-collapse: collapse;
  padding: 16px;
  background-color: #490303;
}

.table th,
.table td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: left;
  color: #fdfdfd;
}

.table th {
  background-color: #b11010;
}